* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(0, 0, 0);
  font-size: 23px;
  padding: 0px !important;
}

li a {
  color: white !important;
}

.navbar-nav>li>.dropdown-menu {
  background-color: black;
}

.navbar-nav>li>.dropdown-menu>a:hover {
  background-color: rgb(26, 24, 24);
}

.modal-footer {
  border-top: 0px !important;
}

.modal-header {
  border-bottom: 0px !important;
}

.loginModal {
  padding-top: 110px;
  backdrop-filter: blur(8px);
}

.modal-content {
  background-color: rgba(95, 83, 83, 0.514) !important;
  color: white !important;
}

@media screen and (max-width: 1200px) {
  .home {
    padding-left: 0px !important;
  }
}

.newCollection {
  margin-top: 80px !important;
}

.newItems {
  margin-top: 196px !important;
}

.newArrival {
  margin-top: 126px !important;
}

.lorem {
  font-size: 20px;
  padding-top: 15px;
  font-family: Poppins;
  font-weight: 400;
  color: #0c0116;
  line-height: 24px;
}

.newCOl1 {
  box-shadow: 5px 8px 5px 10px grey !important;
  height: 500px !important;
}

.newBtn {
  transform: translate(-48px, -5px) !important;
  -webkit-transform: translate(-48px, -5px) !important;
  -moz-transform: translate(-48px, -5px) !important;
  -ms-transform: translate(-48px, -5px) !important;
  -o-transform: translate(-48px, -5px) !important;
}

.wmnSports {
  padding-left: 200px !important;
}

.sale {
  padding-left: 200px !important;
  padding-top: 80px !important;
}

.menSports {
  padding-left: 218px !important;
}

.star {
  list-style-type: none;
}

.star>li {
  display: inline-block;
  transform: translateX(173px);
  -webkit-transform: translateX(173px);
  -moz-transform: translateX(173px);
  -ms-transform: translateX(173px);
  -o-transform: translateX(173px);
}

.price {
  padding-left: 246px;
}

.img3 {
  padding: 70px !important;
}

.jump {
  padding: 20px 45px;
  border: unset;
  border-radius: 25px;
  color: white;
  z-index: 1;
  background: black;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  overflow: hidden;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.jump::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;
  width: 0;
  border-radius: 25px;
  background-color: #ffc72c;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.jump:hover {
  color: black;
}

.jump:hover::before {
  width: 100%;
}

.container-fluid {
  padding-left: 0px !important;

  padding-right: 0px !important;
}

.cardBtn {
  background-color: #282936 !important;
  color: white !important;
}

.footer {
  margin-top: 120px;
  color: white;
}

.footNav {
  background-color: #FF003F;
}

.footInfo {
  color: white;
  background-color: #FF003F;
  padding-top: 60px;
}

/* From cssbuttons.io */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgba(255, 255, 0, 0.836);
  border-radius: 1.625rem;
  -webkit-border-radius: 1.625rem;
  -moz-border-radius: 1.625rem;
  -ms-border-radius: 1.625rem;
  -o-border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid black;
  border-right: 0.125rem solid black;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: black;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: black;
}

.assist {
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 1;
}

.assist[type=button] {
  outline: none;
}

.send[type=submit] {
  outline: none;
}

.closeChat[type=button] {
  outline: none;
}

.assistHead {
  padding: 0 !important;
}

.chatWindow {
  padding-top: 20px !important;
}